<section class="carouselProd">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.istockphoto.com/id/1186954832/es/foto/peque%C3%B1o-gatito-negro-jugando-y-disfruta-con-bola-naranja-en-la-sala-de-estar-de-la-casa.webp?b=1&s=612x612&w=0&k=20&c=CjT6t_X04SY-JImHb3_PSksEGSEGKNeLgHr8MEIZAwQ=" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block ttlCarouselInic">
          <h5>Juguetes</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/id/914802708/es/foto/alimentaci%C3%B3n-de-perro-hambriento.webp?b=1&s=612x612&w=0&k=20&c=nSvJV27WSl8JJMb-C5NxB50JfgaNT50FtCHrAjGm2Cg=" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block ttlCarouselInic">
          <h5>Alimentos</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/id/814387434/es/foto/perro-tomando-un-ba%C3%B1o.webp?b=1&s=612x612&w=0&k=20&c=_OrOfpTkp-yi8Q9o-bG12xV2v-KF2HlV7sQA_K-DP_Q=" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block ttlCarouselInic">
          <h5>Productos para su higiene</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</section>
<br>
<app-novedades></app-novedades>

