
<div class="container mt-5">
    <h2>Ingrese sus datos</h2>
    <form>
        <div class="mb-3">
            <label for="nombreCompleto" class="form-label">Nombre Completo</label>
            <input type="text" class="form-control" id="nombreCompleto" placeholder="Ingrese su nombre completo">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="mb-3">
            <label for="numeroTarjeta" class="form-label">Número de Tarjeta</label>
            <input type="text" class="form-control" id="numeroTarjeta" placeholder="Ingrese su número de tarjeta">
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección">
        </div>
        <button type="submit" class="btn btn-primary" >Enviar</button>
    </form>
</div>


