<footer class="piePag">
<div id="contTel">
    <h6 style="display: inline-block;" class="dtcont">Teléfono: </h6>
    <span id="nrotel" class="dtcont"><b>{{ telefono }}</b></span>
</div>

<div id="ContCorreo">
    <h6 style="display: inline-block;" class="dtcont">Correo: </h6>
    <span id="dircorreo" class="dtcont"><b>{{ correo }}</b></span>
</div>

<div id="ContDir">
    <h6 style="display: inline-block;" class="dtcont">Dirección: </h6>
 <p title="Direccion de la institución" class="dtcont">{{direccion}}</p>

</div>
</footer>